* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", serif;
    color: black

}

header h1 {
    font-size: 40px;
    padding: 30px;
    color: orange;
    background-color: royalblue;
    text-align: center;
    text-shadow: 2px 2px black;
}

nav {
    padding: 10px;
    background-color: lightgray;
    
}

header tr:first-child td {
    background-color: orange;
    border: royalblue solid 2px;
    display: inline-table;
    margin-right: 60px;
    margin-top: 0px;
    padding: 5px;
    font-size: 20px;

}

header tr:first-child td:hover {
    background-color: whitesmoke;
}

header tr:last-child td:hover {
    background-color: whitesmoke;
}

header tr:last-child td {
    background-color: royalblue;
    border: orange solid 2px;
    display: inline-table;
    padding: 5px;
    margin-right: 65px;
    margin-top: 5px;

}

body {
    width: 960px;
    margin: 0 auto;
    background-color: whitesmoke;
    min-height: 400px;


}

/* body img {
    margin: 50px;
    padding: 5px;
    float: left; */
    
/* } */

/* body li { */
    /* list-style: none; */
    /* border: green dotted; */
    /* margin: 50px; */
    /* padding: 10px; */
    /* text-align: center; */
    /* clear: both; */
    /* display: inline; */
/* }  */

div {
    float: left;
}


.R32 {
    border: red dotted;
    text-align: center;
    padding-right: 60px;
    padding-left: 60px;
    width: 150px;
    /* float: left; */
}

.R32 img {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-right: 40px;
}

.R32 p {
    border: fuchsia dotted;
    font-style: Script;
}

.R34 {
    padding-right: 60px;
    border: red dotted;
    text-align: center;
    width: 150px;
}

.R34 img {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-right: 40px;
}

.R34 p {
    border: fuchsia dotted;
    font-style: Script;
}

.z350 {
    padding-right: 60px;
    border: red dotted;
    text-align: center;
    width: 150px;
}

.z350 img {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-right: 40px;
}

.z350 p {
    border: fuchsia dotted;
    font-style: Script;
}

.z370 {
    padding-left: 60px;
    padding-right: 60px;
    border: red dotted;
    text-align: center;
    width: 150px;
}

.z370 img {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-right: 40px;
}

.z370 p {
    border: fuchsia dotted;
    font-style: Script;
}

.S13 {
    padding-right: 60px;
    border: red dotted;
    text-align: center;
    width: 150px;
}

.S13 img {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-right: 40px;
}

.S13 p {
    border: fuchsia dotted;
    font-style: Script;
}

.S14 {
    padding-right: 60px;
    border: red dotted;
    text-align: center;
    width: 150px;
}

.S14 img {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-right: 40px;
}

.S14 p {
    border: fuchsia dotted;
    font-style: Script;
}

footer{

    background-color: royalblue;
    /* min-height: 40px; */
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    clear: both;

}